@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=FONT-AWESOME-PACKAGE-FONT-AWESOME-PACKAGE-TOKEN

FONTAWESOME_NPM_AUTH_TOKEN=FONT-AWESOME-PACKAGE-TOKEN npm install --save @fortawesome/fontawesome-pro
