* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Poppins', sans-serif;
}


/* header{
    max-width: 100vh;
} */

body {
    color: white;
}

.uppercontact {
    display: flex;
    min-height: 50px;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.767); */
    justify-content: left;
    align-items: center;
    text-align: left;
    margin: auto;
    color: white;
}

.phonenumber {
    min-width: 30%;
    text-align: left;
    flex-direction: column;
}

.phonenumber a {
    cursor: copy;
    text-decoration: none;
    color: white;
    text-align: left;
}

.phonenumber a img {
    height: 20px;
    width: auto;
}

.whatsapp {
    min-width: 30%;
    flex-direction: column;
}

.whatsapp a {
    text-decoration: none;
    color: white;
    text-align: right;
}

.whatsapp a img {
    height: 20px;
    width: auto;
}

.email {
    min-width: 30%;
    flex-direction: column;
}

.email a {
    text-decoration: none;
    color: white;
    cursor: copy;
}

.email a img {
    height: 20px;
    width: auto;
}

.schoolname {
    display: flex;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.767); */
    height: 95px;
    width: 100%;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.name {
    display: block;
    color: white;
    min-height: 60px;
    width: 95%;
    font-size: 40px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.navcontainer {
    position: sticky;
    top: -1px;
    left: 0px;
    display: flex;
    max-width: 100vw;
    height: 65px;
    z-index: 2;
}

.logo {
    display: flex;
    position: absolute;
    top: 60px;
    left: 70px;
    height: 130px;
    width: 130px;
    align-items: center;
    justify-content: center;
    margin: auto;
    z-index: 3;
}

.logo img {
    top: -6;
    border: 2px solid white;
    background-color: white;
    border-radius: 200px;
    height: 130px;
    width: 130px;
}

.logow {
    position: absolute;
    top: 0px;
    display: none;
}

.logow img {
    background-color: rgb(122, 122, 212);
    border-radius: 100px;
    height: 60px;
    width: 60px;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.navbar ul li {
    padding: 80px;
}

.navbar li a {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    margin: 10px;
    font-weight: 400;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    /* border-radius: 8px; */
    padding: 5px 15px;
    border: 2px solid rgb(255, 255, 255);
}

.navbar li a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    transition: all 0.2s ease-out;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.bg {
    background: rgba(0, 0, 0, 0.897) url('backgroundf.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.bg2 {
    background: rgb(0, 0, 0) url('backgroundf.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.bg1 {
    background: rgba(3, 3, 3, 0.863);
    background-size: cover;
    background-blend-mode: darken;
}

.background-nav {
    /* background: rgba(0, 0, 0, 0.767); */
    background-size: cover;
    background-blend-mode: darken;
}


/* Dropdown Button */

.dropbtn {
    /* background-color: rgb(33, 90, 175); */
    color: white;
    /* padding: 7px; */
    font-size: 14px;
    border-radius: 5px;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    /* background: rgb(43, 51, 73); */
    border-radius: 18px;
    margin-left: 10px;
    margin-top: 7.5px;
    padding-top: -2px;
    /* min-width: 160px; */
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    /* z-index: 1; */
}


/* Links inside the dropdown */

.dropdown-content a {
    /* padding: 12px 16px; */
    text-decoration: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.767);
    display: block;
    color: white;
    border: 2px solid white;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 4px;
    /* border-width: ; */
    /* border-radius: 8px; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    /* font-weight: bold; */
    border: 2px solid rgb(0, 0, 0);
    transition: all 0.2s ease-out;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}


/* Change the background color of the dropdown button when the dropdown content is shown */

.dropdown:hover {
    /* background-color: rgb(33, 90, 175); */
    color: black;
    transition: all 0.2s ease-out;
}

#home {
    max-width: 100vw;
}

.margin {
    margin: 0;
}

.parallax {
    background: rgba(0, 0, 0, 0) url('backgroundfixed.jpg') repeat fixed 100%;
    background-size: cover;
    background-blend-mode: darken;
    width: 100%;
    height: auto;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.parallax-inner {
    /* padding-top: 30%; */
    /* padding-bottom: 30%; */
    color: white;
}

.parallax-inner p {
    display: none;
    text-align: center;
    align-items: center;
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 20px;
    text-transform: uppercase;
}

.box-main {
    display: flex;
    /* align-items: center; */
    justify-content: center;
    max-width: 100vw;
    margin: auto;
    height: auto;
    font-family: 'Poppins', sans-serif;
    /* padding: 80px; */
}

.slides {
    justify-content: center;
    align-items: center;
    /* margin-left: 200px; */
    /* margin-right: 200px; */
    margin: auto;
    width: 1000px;
    height: 500px;
    background-image: url('1.jpg');
    background-position: center;
    background-size: cover;
    box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.329);
    animation: slider 30s infinite linear;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* border: 2px solid black; */
}

.slides h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    color: rgb(255, 255, 255);
}

.slides h1:hover {
    color: rgb(173, 195, 255);
    cursor: default;
}

.slides:hover {
    box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.89);
    transition: all 0.003s ease-in-out;
}

@keyframes slider {
    0% {
        background-image: url('2.jpg');
    }
    20% {
        background-image: url('3.jpg');
    }
    40% {
        background-image: url('1.jpg');
    }
    60% {
        background-image: url('4.jpg');
    }
    80% {
        background-image: url('5.jpg');
    }
}

#welcome-screen {
    /* background: black; */
    display: flex;
    max-width: 100vw;
    justify-content: center;
    margin: auto;
    padding: 20px;
    color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.advertise {
    width: 30%;
    margin-right: 50px;
}

.advertise h1 {
    text-align: center;
}

.welcome {
    width: 60%;
    margin-left: 50px;
    line-height: 1.5;
}

.welcome ul {
    list-style: circle;
    /* font-weight: 900; */
}

.welcome ul li {
    margin-left: 30px;
}

.welcome h1 {
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    color: rgb(173, 195, 255);
    text-transform: uppercase;
}

.welcome h2 {
    font-size: 26px;
    font-weight: 700;
    color: rgb(173, 195, 255);
}

#myBtn {
    background: transparent;
    color: white;
}

hr {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.144);
    width: 90%;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
}


/* from upload */

footer {
    color: white;
}

.socialmedialinkfooter {
    height: 90px;
    display: flex;
}

.contact {
    color: rgb(255, 248, 188);
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    flex-direction: column;
}

.contact ul {
    display: flex;
    list-style: none;
}

.contact ul li {
    color: white;
    padding: 10px;
}

.contact ul li img {
    width: 20px;
    height: auto;
}

.contact ul li a {
    text-decoration: none;
    color: white;
}

.contact ul li a img {
    width: 20px;
    height: auto;
    text-decoration: none;
}

.socialmedia {
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.socialmedia ul {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    display: flex;
    list-style: none;
}

.socialmedia ul li {
    display: flex;
    padding: 10px;
}

.socialmedia ul li a img {
    height: 20px;
    width: auto;
}

.reservefooter {
    display: flex;
    max-width: 100vw;
    color: white;
    padding: 9px 20px;
    text-align: center;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
}


/* to upload */

.left-footer {
    width: 70%;
}

.right-footer {
    width: 30%;
}

.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
    /* margin: auto; */
}

.line {
    width: 30px;
    background-color: white;
    height: 4px;
    margin: 5px 7px;
}

.youtube {
    position: absolute;
    top: 400px;
    left: 0px;
    z-index: 1;
    width: 120px;
    height: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
}

.youtube img {
    height: 50px;
    width: auto;
    justify-content: right;
    align-items: center;
    position: relative;
    /* margin-right: 0px; */
    padding-left: 60px;
}

@media only screen and (max-width: 1140px) {
    /* .schoolname {
        font-size: 70px;
    } */
    /* .uppercontact {
        display: none;
    } */
    .youtube {
        top: 250px;
    }
    .uppercontact {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
    .logoinnav {
        /* display: none; */
        position: absolute;
        left: 5%;
    }
    .schoolname {
        display: none;
    }
    .logow {
        display: block;
    }
    .navcontainer {
        flex-direction: column;
        max-width: 100vw;
        height: auto;
        justify-content: center;
        margin: auto;
        transition: all 0.5s ease-out;
    }
    .navbar {
        justify-content: center;
        margin: auto;
        padding: 8px;
        flex-direction: column;
        /* max-width: 100vw; */
        width: 80%;
    }
    .navbar li {
        padding: 10px;
    }
    .navbar li a {
        padding: 5px 15px;
        border-top-left-radius: 11px;
        border-top-right-radius: 11px;
        border: 2px solid white;
    }
    .navbar li a:hover {
        padding: 5px 15px;
        border-top-left-radius: 11px;
        border-top-right-radius: 11px;
        border: 2px solid rgb(0, 0, 0);
    }
    .dropdown-content {
        background: rgb(43, 51, 73);
    }
    /* #home{
        width: 100vh;
    } */
    .box-main {
        /* max-width: 100vh; */
        width: 100%;
        flex-direction: column;
        height: auto;
    }
    .slides {
        justify-content: center;
        align-items: center;
        /* margin-left: 200px; */
        /* margin-right: 200px; */
        margin-top: 0px;
        width: 80%;
        height: 300px;
    }
    .parallax-inner p {
        display: block;
        color: white;
    }
    .first-half {
        /* max-width: 100vw;
         */
        width: auto;
        /* padding: 0px 0px; */
        margin: auto;
        text-align: center;
        padding: 0px 0px;
    }
    .second-half {
        width: auto;
        margin: auto;
        padding: 0px 0px;
    }
    .second-half img {
        border: 2px solid white;
    }
    #welcome-screen {
        flex-direction: column;
        max-width: 100vw;
        margin: auto;
        /* background-color: rgba(0, 0, 0, 0.863);
        display: flex;
        max-width: 100vw;
        justify-content: center;
        margin: auto;
        
        color: white; */
    }
    .advertise {
        text-align: center;
        margin: auto;
        width: 80%;
        padding-top: 40px;
        /* margin-right: 50px; */
    }
    .welcome {
        padding-top: 40px;
        text-align: left;
        width: 80%;
        margin: auto;
    }
    .welcome ul {
        text-align: left;
        padding: 0px;
    }
    #myBtn {
        background: transparent;
        color: white;
    }
    .socialmedialinkfooter {
        height: auto;
        flex-direction: column;
    }
    .contact ul {
        flex-direction: column;
    }
    .reservefooter {
        flex-direction: column;
        max-width: 100%;
    }
    .left-footer {
        width: 100%;
    }
    .right-footer {
        width: 100%;
    }
    .burger {
        display: block;
    }
    .h-nav-resp {
        height: 65px;
    }
    .v-class-resp {
        /* opacity: 0; */
        display: none;
    }
}


/* .first-half {
    display: flex;
    flex-direction: column;
    color: white;
    width: 60%;
    
    padding: 220px 10px;
  
}

.second-half {
    
    width: 40%;

    padding: 150px 60px;
} */


/* .second-half img {
    margin-right: 20px;
    border-radius: 900px;
    width: 300px;
    height: 300px;
    border: 2px solid red;
} */
