.card {
  position: absolute;
  width: 16rem;
  height: 18rem;
  display: flex;
  border: 7px solid var(--orange);
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.488);
  box-shadow: var(--boxShadow);
  border-radius: 20px;
  padding: 0px 26px 2rem 26px;
}
.card > img {
  /* width: 6rem; */
  transform: scale(0.6);
  margin-bottom: -2rem;
}
.card > :nth-child(2) {
  margin-top: -10px;
}
.card > :nth-child(3) {
  color: var(--gray);
  font-size: 14px;
}

.c-button {
  background: #ffffff;
  box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.08);
  border-radius: 7px;
  border: none;
  padding: 10px;
  font-size: 14px;
  color: #5290fd;
}

@media screen and (max-width: 480px) {
  .card {
    width: auto;
  }
}
