.best-education {
  padding: 0.3rem 3.5rem;
  color: black;
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;

  .cards {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    // background-color: aqua;
    div:nth-of-type(1) {
      position: absolute;
      right: -1;
      top: 1.3rem;
    }
    div:nth-of-type(2) {
      position: absolute;
      right: -1;
      top: 1.3rem;
    }
    // div:nth-of-type(3){
    //   position: absolute;
    //   left: 0;
    //   bottom: -1;
    // }
    div:nth-of-type(3) {
      position: absolute;
      right: -1;
      bottom: -1;
    }
    .t-blur1 {
      position: absolute;
      top: 25rem;
      left: -5rem;
    }
    .t-blur2 {
      top: 25rem;
    }
  }
  .cards-details {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    // gap: 2rem;
    color: rgb(0, 0, 0);
    // background-color: cadetblue;

    span:nth-of-type(1) {
      color: var(--orange);
      font-size: 55px;
      font-weight: 900;
    }
    span:nth-of-type(2) {
      color: var(--black);
      font-size: 55px;
      font-weight: 900;
    }

    span:nth-of-type(3) {
      position: relative;
      display: flex;
      margin-top: 1rem;
      align-items: center;
      // text-align: center;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      padding: 0px 6rem 0px 6rem;
      color: var(--gray);
    }
  }
}
