:root{
  --yellow: #F5C32C;
  --orange : #FCA61F;
  --black : #242D49;
  --gray : #5b6275;
  --blueCard : #DDF8FE;
  --purple: rgb(238 210 255);
  --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
  --orangeCard: rgba(252, 166, 31, 0.45);
  --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
}

*{
  box-sizing: border-box;
}
.App{
  overflow: hidden;
  color: var(--black);    
  box-sizing: border-box;
}

.button{
  border-radius: 34px;
  border: none;
  color: white;
  font-size: 16px;
  padding: 11px 26px 11px 26px;
  background: linear-gradient(180deg, #fdc50f 26.71%, #fb982f 99.36%);
  box-shadow: 0px 20px 24px 3px rgba(251, 161, 40, 0.42);
   border: 1px solid var(--orange);
}

.button:hover{
  background: white;
  cursor: pointer;
  color: var(--orange);
  /* border: 1px solid var(--orange); */
}

.blur{
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(72px);
  z-index: -9;
  top: -18%;
  left: 56%;
}
